version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    groups:
      astro:
        patterns:
          - "astro"
          - "@astrojs/*"
          - "astro-seo"
      tailwind:
        patterns:
          - "tailwindcss"
          - "@tailwindcss/*"
      playwright:
        patterns:
          - "@playwright/*"
    open-pull-requests-limit: 10

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
