---
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="pt-12 lg:py-32 xl:py-54">
    <Text
      tag="h1"
      variant="textBase"
      class="text-black dark:text-white font-medium hidden"
    >
      Abdallah Othman
      <br />
      Software Engineer & Technical Lead
    </Text>
    <Text
      tag="h1"
      variant="textBase"
      class="text-black dark:text-white font-medium"
    >
      In The Craft of Building Digital Experiences
      <br />
      That Feel Right, Bring Value And Just Work
    </Text>
  </Wrapper>

  <Wrapper variant="standard" class="py-12">
    <div class="border-t dark:border-white/10 border-black/10 pt-8">
      <Text
        tag="h1"
        variant="textBase"
        class="text-black dark:text-white font-medium"
      >
        Intro
      </Text>
      <Text
        tag="p"
        variant="textSM"
        class="2xl:text-base mt-8 dark:text-zinc-400 text-zinc-500"
      >
        Hey, I’m Abdallah — a Software Engineer and Technical Lead with years of
        experience building meaningful digital products that don’t just ship,
        but hopefully stick around and bring value.
        <br /><br />
        Originally from Alexandria, Egypt and now based in Hamburg, Germany, I’ve
        found that mixing creativity, structure, and a bit of cultural flavor helps
        me build better things — both for users and the teams behind the scenes.
        <br /><br />
        I focus on solving real-world problems with thoughtful, pragmatic engineering.
        My regular toolkit? TypeScript, React, and Node.js — plus a Growth Engineering
        mindset that helps me spot opportunities to optimize, scale, and experiment
        with purpose.
        <br /><br />
        Lately, I’ve been diving deep into Generative AI and Large Language Models
        — especially where they intersect with frontend workflows and user experience.
        I’m curious about how they can help us create smarter, more intuitive tools.
        <br /><br />
        If that sounds interesting, check out what I’ve been working on — from projects
        and side hacks to thoughts on product, tech, and the occasional opinionated
        take on good design.
      </Text>
    </div>
  </Wrapper>
</section>
