---
import { SITE } from "@/constants/site";

interface Props {
	title?: string;
	description?: string;
	keywords?: string[];
}

const {
	title = SITE.TITLE,
	description = SITE.DESCRIPTION,
	keywords = SITE.KEYWORDS,
} = Astro.props;
---

<!-- Meta Tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywords.join(", ")} />
<meta name="author" content={SITE.AUTHOR} />

<!-- Theme Color for Mobile Browsers -->
<meta name="theme-color" content="#fafafa" />

<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
